* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    color: rgb(211, 211, 211);
    background: rgb(10, 31, 39);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    height: 95%;
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0;
}

@media only screen and (min-width: 750px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1em 0;
        padding: 1em 0;
        border-top: 1px solid rgb(34, 76, 92);
        border-bottom: 1px solid rgb(34, 76, 92);
    }
    header>div {
        flex-grow: 1;
        flex-basis: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    padding: 2em;
    max-width: 50em;
}

.title {
    margin-top: 0;
    align-self: flex-end;
    color: rgb(34, 76, 92);
}

a {
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-size: 16px;
    white-space: nowrap;
}

.intro {
    padding: 0 0 1em;
}

.links a::before {
    content: '';
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

a[href*='bitcoinchapter']:before {
    background: url('./images/bitcoin.png');
    background-size: contain;
    transform: rotate(25deg);
}

a[href*='github']:before {
    background: url('./images/Octocat.png');
    background-size: contain;
}

a[href*='codepen']:before {
    background: url('./images/codepen.png');
    background-size: contain;
}

a[href*='youtube']:before {
    background: url('./images/youtube.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

a[href*='linkedin']:before {
    background: url('./images/linkedin.png') white;
    background-size: contain;
    border-radius: 4px;
    ;
}

a[href*='trailblazer']:before {
    background: url('./images/salesforce.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
}

a[href*='ux-portal']:before {
    background: url('./images/vinking.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
}

a[href*='#']:before {
    background: url('./images/mario.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
}

a:hover {
    text-decoration: underline;
}

.links {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.links li {
    text-decoration: none;
    padding: 0.2em 0em;
    margin: 0em;
}

i {
    color: rgb(90, 126, 141);
}

footer {
    padding: 0 0 1em 0;
    margin: 0;
    text-align: center;
    margin-top: -10px;
    font-size: 12px;
}

.footer_link a::before {
    content: '';
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
    position: relative;
    top: 4px;
}

@media only screen and (max-width: 750px) {
    .wrapper .links {
        flex-direction: column;
        text-align: left;
        margin-bottom: 1em;
    }
    .title {
        align-self: auto;
    }
}